html, body {
    background: yellow;
    padding: 4em;
}
hr {
    border: 2px solid green;
}
#info {
    color: blueviolet;
    background: white;
    font-style: italic;
    word-spacing: 0.05em;
}
#mean {
    color: blueviolet;
    background: white;
    font-style: italic;
    word-spacing: 0.05em;
}
.intro {
    background: white;
    color: brown;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}