body {
  background: red;
}
h1 {
  text-align: center;
  border: 2px solid;
  border-color: blue;
  background-color: yellow;
}
p {
text-align: center;
color: blue;
}
h2 {
  text-align: center;
  border: 2px solid;
  border-color: blue;
  background-color: white;
}
h3 {
  text-align: center;
  border: 2px solid;
  border-color: blue;
  background-color: green;
}
